<template>
  <div :class="wrapperClass" :dir="langStore.lang == 'en' ? 'ltr' : 'rtl'">
    <AppHeader/>
    <main class="main">
      <NuxtPage/>
    </main>
  </div>
</template>

<script setup>
  import { computed } from 'vue'
  import { useLangStore } from '@/store/index'

  const langStore = useLangStore()

  useHead({
    title: 'myegane49',
    meta: [
      { charset: 'utf-8' },
      { name: 'viewport', content: 'width=device-width, initial-scale=1' }
    ],
    link: [
      { rel: 'icon', type: 'image/x-icon', href: '/favicon.ico' }
    ]
  })

  const wrapperClass = computed(() => {
    if (langStore.lang === 'en') {
      return 'wrapper english-font'
    } else {
      return 'wrapper persian-font'
    }
  })
</script>

<style lang="scss">
.wrapper {
  position: relative;
}

.main {
  min-width: 110rem;
  border: 1rem solid lighten($background-light, 15%);
  border-radius: 2rem;
  position: absolute;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
  padding: 3rem 5rem;
  background-color: $background-light;
}

.title {
  color: $color-primary;
}

p {
  line-height: 1.5;
}
</style>
