<template>
  <div class="single-post">
    <h1 v-if="post.title">{{langStore.lang === 'en' ? post.title.en : post.title.fa}}</h1>
    <div v-for="item in post.contents" :key="item._id" class="content">
      <img :src="item.url" v-if="item.type == 'img'">
      <video :src="item.url" v-if="item.type == 'vid'" controls></video>
      <iframe v-if="item.type == 'ytb'" :src="item.url" allowfullscreen></iframe>
      <p v-if="item.type == 'txt'">{{langStore.lang === 'en' ? item.en : item.fa}}</p>
    </div>
  </div>
</template>

<script setup>
  import { useLangStore } from '@/store/index'

  const route = useRoute()
  const runtimeConfig = useRuntimeConfig()
  const langStore = useLangStore()

  const { data: post } = await useAsyncData('post', () => {
    const id = route.params.postId
    const res = $fetch(`${runtimeConfig.public.apiHost}/singlePost/${id}`)
    return res
  })
</script>

<style lang="scss" scoped>
.single-post {
  background-color: $background-dark;
  width: 90rem;
  margin: 0 auto;
  border-radius: 5px;
  padding: 2.5rem;

  h1 {
    color: $color-primary;
  }

  img, video, iframe {
    width: 60rem;
    display: block;
    margin: 1.5rem auto;
  }

  p {
    margin: 1.5rem;
  }
}
</style>
