<template>
  <header class="header">
    <img class="header__image" src="/images/header.jpg" alt="my header">  
    <nav>
      <div class="links">
        <nuxt-link class="link" to="/">
          <font-awesome-icon icon="fa-solid fa-house" class="icon" />
          {{text.mainPage}}
        </nuxt-link>
        <nuxt-link class="link" to="/blog/1">
          <font-awesome-icon icon="fa-solid fa-blog" class="icon" />
          {{text.blog}}
        </nuxt-link>
        <nuxt-link class="link" to="/links">
          <font-awesome-icon icon="fa-solid fa-link" class="icon" />
          {{text.links}}
        </nuxt-link>
      </div>

      <div class="lang">
        <font-awesome-icon icon="fa-solid fa-language" class="icon" />
        <button @click="langStore.setLang('fa', false)" class="btn">فارسی</button>
        <span> | </span>
        <button @click="langStore.setLang('en', false)" class="btn">English</button>
      </div>
    </nav>
  </header>
</template>

<script setup>
  import { useLangStore } from '@/store/index'

  const langStore = useLangStore()
  const {persianText, englishText, text} = useLang()

  persianText.value = {
    mainPage: 'صفحه اصلی',
    blog: 'بلاگ',
    links: 'پیوندها'
  }
  englishText.value = {
    mainPage: 'Main Page',
    blog: 'Blog',
    links: 'Links'
  }
</script>

<style lang="scss" scoped>
.header {
  height: 28rem;
  overflow: hidden;
  position: relative;

  &__image {
    filter: brightness(0.5);
    width: 100%;
    position: relative;
    top: -5rem
  }

  nav {
    position: absolute;
    top: 2rem;
    right: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 0 2rem;
    
    .link {
      margin: 1rem;
      &:hover {
        color: $color-secondary;
      }
    }
  }

  .icon {
    margin: 0 4px;
  }

  .lang {
    display: flex;
    align-items: center;
  }

  .btn {
    background-color: transparent;
    margin: 0 4px;

    &:hover {
      color: $color-secondary;
    }
  }
}
</style>
