$color-primary: #93008e;
$color-secondary: #009305;
$background-dark: #000000;
$background-light: #131313;

@font-face {
  font-family: "BYekan";
  font-weight: normal;
  src: url("/fonts/BYekan.ttf");
}
@font-face {
  font-family: "Nanum Gothic";
  font-weight: normal;
  src: url("/fonts/NanumGothic-Regular.ttf");
}
@font-face {
  font-family: "Nanum Gothic";
  font-weight: bold;
  src: url("/fonts/NanumGothic-Bold.ttf");
}
$persian-font: 'BYekan', sans-serif;
$english-font: 'Nanum Gothic', sans-serif;

