@import "./_variables";

*, *::after, *::before {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  text-decoration: none;
}

html {
  font-size: 62.5%;
  background-color: $background-dark;
}

body {
  font-size: 1.6rem;
  color: white;
}

button, a, input, textarea {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}

input, textarea, button {
  outline: none;
}

button {
  cursor: pointer;
}

.english-font {
  font-family: $english-font;
  line-height: 1.4;
}

.persian-font {
  font-family: $persian-font;
}
