<template>
  <div class="search">
    <input type="text" v-model="searchPhrase">
    <nuxt-link class="search-btn" :to="searchLink">
      <font-awesome-icon class="search-icon" icon="fa-solid fa-magnifying-glass" />
      {{text.search}}
    </nuxt-link>
  </div>
  
  <div v-if="data.posts.length == 0" class="post">
    <h2>{{text.notFound}}</h2>
  </div>
  <div v-else class="post" v-for="post in mod_posts" :key="post._id">
    <h2 v-if="post.title" class="title">{{langStore.lang === 'en' ? post.title.en : post.title.fa}}</h2>
    <img v-if="post.media && post.media.type === 'img'" :src="post.media.url">
    <video v-if="post.media && post.media.type === 'vid'" :src="post.media.url" controls></video>
    <iframe v-if="post.media && post.media.type === 'ytb'" :src="post.media.url" allowfullscreen></iframe>
    <p v-if="post.text">{{langStore.lang === 'en' ? post.text.en : post.text.fa}}</p>
    <nuxt-link class="link" :to="'/post/' + post.id">{{text.btn}}</nuxt-link>
  </div>

  <nav v-if="data.posts.length > 0">
    <div class="for-back-ward">
      <nuxt-link class="nex-prev" :class="langStore.lang == 'en' ? 'nex-en' : null" v-if="pageNumber != totalPages" :to="nextPageLink">
        <font-awesome-icon class="nav-icon" icon="fa-solid fa-circle-right" />
        {{text.next}}
      </nuxt-link>
      <nuxt-link class="nex-prev" v-if="pageNumber != 1" :to="prevPageLink">
        {{text.prev}}
        <font-awesome-icon class="nav-icon" icon="fa-solid fa-circle-left" />
      </nuxt-link>
    </div>
    <div class="pages">
      <nuxt-link v-for="(link, i) in pagesLinks" :to="link" :key="i" class="pageLink" :class="pageNumber == i + 1 ? 'curPage' : null">{{i + 1}}</nuxt-link>
    </div>
  </nav>
</template>

<script setup>
  import { ref, computed, watch, onMounted } from 'vue'
  import { useLangStore } from '@/store/index'

  const langStore = useLangStore()
  const route = useRoute()
  const runtimeConfig = useRuntimeConfig()
  const {persianText, englishText, text} = useLang()

  persianText.value = {btn: "لینک پست", next: "پسین", prev: "پیشین", search: "جستجو", notFound: "هیچ پستی پیدا نشد!"}
  englishText.value = {btn: "Post Link", next: "next", prev: "previous", search: "Search", notFound: "No posts where found!"}
  const searchPhrase = ref('')

  const mod_posts = computed(() => {
    return data.value.posts.map(post => {
      const media = post.contents.find(content => 'url' in content ? true : false)
      const text = post.contents.find(content => content.type === 'txt')
      text.fa = text.fa.length > 85 ? text.fa.substr(0, 85) + '...' : text.fa 
      text.en = text.en.length > 85 ? text.en.substr(0, 85) + '...' : text.en 
      return {
        title: post.title,
        id: post._id,
        media,
        text 
      }
    })
  })
  const totalPages = computed(() => {
    return Math.ceil(data.value.totalCount / data.value.postPerPage)
  })
  const pageNumber = computed(() => {
    return parseInt(route.params.pageNum)
  })
  const search = computed(() => {
    if (route.query && route.query.search) {
      return route.query.search
    } else {
      return ""
    }
  })
  const searchLink = computed(() => {
    if (searchPhrase.value) {
      return `/blog/1?search=${encodeURI(searchPhrase.value)}`
    } else {
      return `/blog/${pageNumber.value}`
    }
  })
  const pagesLinks = computed(() => {
    const links = []
    for (let i = 0; i < totalPages.value; i++) {
      const linkStart = `/blog/${i + 1}`
      links[i] = search.value ? `${linkStart}?search=${search.value}` : linkStart
    } 
    return links
  })
  const nextPageLink = computed(() => {
    const linkStart = `/blog/${pageNumber.value + 1}`
    return search.value ? `${linkStart}?search=${search.value}` : `${linkStart}`
  })
  const prevPageLink = computed(() => {
    const linkStart = `/blog/${pageNumber.value - 1}`
    return search.value ? `${linkStart}?search=${search.value}` : `${linkStart}`
  })

  watch(search, async (val) => {
    let res
    if (val) {
      res = await $fetch(`${runtimeConfig.public.apiHost}/posts/1?search=${encodeURI(val)}`)
    } else {
      res = await $fetch(`${runtimeConfig.public.apiHost}/posts/${pageNumber.value}`)
    }
    data.value = res
  })

  onMounted(() => {
    if (search.value) {
      searchPhrase.value = search.value
    }
    console.log('hello')
  })

  const { data } = await useAsyncData('posts', () => {
    const pageNum = route.params.pageNum
    const query = route.query
    let res
    if (query && query.search) {
      res = $fetch(`${runtimeConfig.public.apiHost}/posts/${pageNum}?search=${encodeURI(query.search)}`)
    } else {
      res = $fetch(`${runtimeConfig.public.apiHost}/posts/${pageNum}`)
    }
    return res
  })
</script>

<style lang="scss" scoped>
.post {
  background-color: $background-dark;
  margin: 2rem auto;
  padding: 2rem 4rem;
  width: 80rem;
  border-radius: 1rem;

  img, video, iframe {
    display: block;
    width: 40rem;
    margin: 1.5rem auto;
  }

  .link {
    padding: 5px 1.5rem;
    background-color: $color-secondary;
    border-radius: 4px;
    margin-top: 1.5rem;
    display: inline-block;
    line-height: 1.5;
  }

  .title {
    color: $color-primary;
  }
}

nav {
  text-align: center;

  div {
    margin-bottom: 1rem;
  }

  // .pages {
    // overflow-x: scroll;
  // }

  .for-back-ward {
    display: inline-flex;
    align-items: center;

    .nex-en {
      order: 2;
    }
  }

  .pageLink, .nex-prev {
    background-color: $color-secondary;
    margin: 3px;
    padding: 5px 8px;
  }

  .nex-prev {
    display: inline-flex;
    align-items: center;
    background-color: $color-primary;
  
    .nav-icon {
      margin: 0 4px;
    }
  }

  .curPage {
    background-color: $color-primary;
  }
}

.search {
  text-align: center;

  input {
    background-color: $background-dark;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 1.5rem;
    margin: 0 2rem;
  }

  .search-btn {
    background-color: $color-primary;
    padding: 8px 1.5rem;
    border-radius: 5px;
    line-height: 1.5;
  }

  .search-icon {
    margin: 0 3px;
  }
}

</style>
