<template>
  <div class="intro">
    <div class="desc">
      <h1 class="title">{{text.name}}</h1>
      <p>{{text.desc1}}</p>
      <p>{{text.desc2}}</p>
      <p>{{text.desc3}}</p>
    </div>
    <img :class="langStore.lang ? 'fire fire-moved': 'fire'" src="/images/fire.gif" alt="fire gif">
    <img src="/images/myself.jpg" alt="my profile picture">
  </div>
  <h1 class="title">{{text.title1}} <img class="welcome" src="/images/welcome.gif" alt="welcome gif"></h1>

  <p class="par">{{text.par1}}</p>
  <p class="par">{{text.par2}}</p>
  <h2 class="title">{{text.title2}}</h2>
  <p class="par">{{text.par3}}</p>
</template>

<script setup>
  import { useLangStore } from '@/store/index'

  const langStore = useLangStore()
  const {persianText, englishText, text} = useLang()

  persianText.value = {
    name: 'محمد احمدی یگانه',
    desc1: 'پرستنده ایزد ماه و وهومن و آناهیت و بهرام',
    desc2: 'از نخستین گسترندگان سخن ایزدان در روزگار نوین',
    desc3: 'دوستدار مهندسی',
    title1: 'به وبسایت من خوش اومدید',
    par1: 'یه روز فهمیدم راه درست استفاده از فضای مجازی داشتن یه سرور مجازی که بتونی روش وبسایت خودتو بالا بیاری، سرور ایمیل خودتو راه‌بندازی، سرور VPN خودتو راه‌بندازی، Nextcloud خودتو هاست کنی. پیام‌رسان Matrix یا XMPP خودتو هاست کنی، ویدئو کنفرانس Jitsi خودت رو هاست کنی، موتور جستجوی Searx خودتو هاست کنی، حتی شبکه اجتماعی Mastodon یا Diaspora خودتو هاست کنی، Peertube خودتو داشته باشی، سرور گیت خودتو داشته باشی، حتی می‌تونی ربات معامله‌گرتو هم همونجا ران کنی و خیلی کارها و آزادی‌های دیگه.',
    par2: 'گوگل، شبکه‌های اجتماعی مثل اینستاگرام، فیسبوک، توییتر و ... راه درستش نیست. اونا در واقع جعبه‌های اسکینر هستن برای مهندسی رفتارهای شما با هدف نهایی برده‌سازی مطلق انسان. این شد که این وبسایت رو درست کردم. باشد که هر کسی به جای وابسته بودن به شرکت‌های بزرگ اینترنتی وبسایت خودشو داشته باشه.',
    title2: 'توجه',
    par3: 'وبسایت از صفحات کوچیک موبایل پشتیبانی نمی‌کنه پس اگه با گوشی اومدی می‌تونی از منوی مرورگرت سایت رو با حالت Desktop مشاهده کنی. دلیلش هم اینه که موبایل حریم خصوصی انسان‌ها رو زیر پا می‌ذاره به هم دلیل استفاده از موبایل رو توصیه نمی‌کنم و اینجا هم پشتیبانیش نکردم.'
  }
  englishText.value = {
    name: 'Mohammad Ahmady Yeganeh',
    desc1: 'Prasing gods Moon and Vohuman and Anahit and Bahram',
    desc2: 'A pioneer in spreading the word of gods in the new era',
    desc3: 'Engineering enthusiast',
    title1: 'Welcome to my website',
    par1: 'One day I realized that the right way of being online is to own a VPS. So that I can have my own website, my own Email, my own VPN. I can host my own Nextcloud instance, my Matrix or XMPP server for private messages, my own Searx instance, my own Mastodon or Diaspora social networks and my own Jitsi instance for video conferencing. I can host my own Peertube and my own Git server. Heck I can even run my own trader robot on that VPS. And so much more things and freedoms will be available to me.',
    par2: 'Google, social networks like Instagram, Facebook, Twitter, ... are not the right way. They are Skinner boxes that are designed to control your behaviours with the final goal of bringing humanity to a total slavery state. So I built this website. May everyone have their own website instead of relying on those internet tech giants.',
    title2: 'Notice',
    par3: "This website does not support those cellphone small screens. So if you're visiting by one, you can choose 'Desktop' from your browser menu. And the reason is that cellphones do not respect privacy of the user and so I tend to discourage not support it."
  }

</script>

<style lang="scss" scoped>
.intro {
  display: flex;
  justify-content: space-between;

  img {
    width: 25rem;
    border-radius: 1rem;
  }

  h1 {
    font-size: 5rem;
  }

  p {
    font-size: 2rem;
    margin: 1rem 0;
  }

  .fire {
    width: 8rem;
    transform: translateY(-2rem);
  }
  .fire-moved {
    transform: translateX(-7rem);
  }
}

.par {
  text-indent: 2rem;
}

.welcome {
  width: 13rem;
  transform: translateY(7px);
}
</style>
