<template>
  <h1 class="title">{{text.personalHead}}</h1>
  <div class="link-block">
    <div class="col">
      <p>{{text.adorian}} <a class="link" href="https://adorian.ir" target="blank">https://adorian.ir</a></p>
      <p>{{text.resume}} <a class="link" target="blank" href="https://myegane49.github.io">https://myegane49.github.io</a></p>
    </div>
    <div class="col">
      <p>{{text.gitlab}} <a href="https://gitlab.com/myegane49" class="link" target="blank">https://gitlab.com/myegane49</a></p>
      <!-- <p>{{text.email}} <span class="link">me@myegane49.xyz</span></p> -->
      <p>{{text.telegram}} <a class="link" target="blank" href="https://t.me/myegane49">https://t.me/myegane49</a></p>
    </div>
  </div>

  <h1 class="title">{{text.othersHead}}</h1>
  <div class="link-block">
    <div class="col">
      <a class="link" target="blank" href="https://lukesmith.xyz/">https://lukesmith.xyz</a><br>
      <a class="link" target="blank" href="https://distro.tube">https://distro.tube</a><br>
    </div>
    <div class="col">
      <a class="link" target="blank" href="https://jadi.net">https://jadi.net</a><br>
    </div>
  </div>
</template>

<script setup>
  const {persianText, englishText, text} = useLang()

  persianText.value = {
    personalHead: "پیوندهای خودم",
    adorian: "وبسایت بیزینسیم:",
    resume: "رزومه حرفه‌ایم:",
    gitlab: "گیتلبم:",
    email: "ایمیلم:",
    telegram: "تلگرامم:",
    othersHead: "پیوندهایی که کاملا محتواشونو تایید نمی‌کنم ولی به نظرم آموزنده و باحالن و باید ببینیدشون",
  }
  englishText.value = {
    personalHead: "My Own Links",
    adorian: "My Business Website",
    resume: "My Professional Resume",
    gitlab: "My Gitlab",
    email: "My Email",
    telegram: "My Telegram",
    othersHead: "Links that I don't fully endorse their content but I think are educational and cool and you should visit them"
  }
</script>

<style lang="scss" scoped>
.link-block {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  margin-bottom: 2.5rem;

  .col {
    width: 45%;
  }

  .link {
    color: $color-secondary;
  }
}
</style>
